body {
    background: rgb(72,24,150);
    background: radial-gradient(circle, rgba(72,24,150,1) 0%, rgba(38,5,52,1) 100%);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 4px 4px #000;
}

.readme {
    bottom: 1%;
    right: 1%;
    position: fixed;
    color: #E8EAFC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px #000;
}

footer {
    bottom: 1%;
    left: 1%;
    position: fixed;
    color: #E8EAFC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px #000;
}

.navbar {
    position: fixed;
    top: 2%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px #000;
}
.navbar a {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #E8EAFC;
    border-radius: 10%;
    padding: 2px 2px;
    margin: 2%;
    box-shadow: 0px 3px 6px #000;

    background-color: #332a38;
    text-align: center;
    text-decoration: none;
}

.input_box {
    background: #E8EAFC;

    border-radius: 33px;
    border: 1px solid #000;
    padding: 1%;
    width: 200px;
    height: 40px;
    box-shadow: 0px 3px 6px #000;

    font-size: 125%;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0px 
}

.button {
    background: #E8EAFC;

    border-radius: 33px;
    border: 1px solid #000;
    padding: 1%;
    width: 180px;
    height: 40px;
    box-shadow: 0px 3px 6px #000;

    font-size: 105%;
    text-shadow: 1px 0px #7c9899;
    color: #000;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0px
}

.question {
    background: #E8EAFC;

    border-radius: 10px;
    border: 1px solid #000;
    padding: 1%;
    width: 300px;
    height: 60px;
    box-shadow: 0px 3px 6px #000;

    font-size: 125%;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    margin: auto;
}

select {
    background: #E8EAFC;

    border-radius: 5px;
    border: 1px solid #000;
    padding: 1%;
    width: 175px;
    height: 25px;
    box-shadow: 0px 3px 6px #000;

    font-size: 100%;
    text-shadow: 0px 0.5px #000;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0px
}

.shake {
    background: #E8EAFC;

    border-radius: 33px;
    border: 1px solid #000;
    padding: 1%;
    width: 250px;
    height: 40px;
    box-shadow: 0px 3px 6px #000;

    font-size: 105%;
    text-shadow: 3px 2px #ce96ee;
    color: #000;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0px
}

.answer {
    text-align: center;
    margin: auto;
    width: 200px;
    height: 75px;   
    padding: 10px 0px;
}

/* a:link, a:visited {
    text-decoration: none;
    text-shadow: 3px 3px #000;
} */

.create {

}

.lists {
    list-style-position: inside;
    border: 1px solid #fff;

    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 4px 4px #000;
    text-decoration: none;
}

