<br>
    <p class="question"> Question populates here?</p>

<br>
<div class="answer">
    
    <h2> Answer Populates here </h2>
</div>

<br><br><br><br>
<button class="shake" onClick="window.location.reload();">SHAKE AGAIN</button>

<br>
<p><a href="/ask_the_eightball">ASK A NEW QUESTION</a></p>