<!DOCTYPE html>
    <head>
        <title> Magic Eight Ball v1 </title>
        <link rel="stylesheet" href="/stylesheets/main.css" />
    </head>

    <body>
        <div>
    
            <%= yield %>

            <footer> 
                <small><b> &copy;2020 MagicEightBallv1 </b></small>
            </footer>
        </div>
    </body>
</html>