<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Magic Eight Ball v2 </title>
        <link rel="stylesheet" href="/stylesheets/main.css" />
    </head>

    <body>
        <div>
            <div class="navbar">
                <b><a href="/ask_the_eightball">Home</a></b>
                <b><a href="/answerlists">Lists</a></b>
                <b><a href="/answerlists/new">New</a></b>
            </div>

            <br>
            <h1> Magic Eight Ball </h1>
            
            <%= yield %>

            
            <footer> 
                <small><b><a href="/logout">LOG OUT [ USER NAME HERE ]</a></b></small>
                <small> &copy;2020 MagicEightBallv2 </small>
            </footer>
        </div>
    </body>
</html>